body{
    background-color: #efaf2b;
    /* Remove Gap Above Heaader    */
    padding: 0;
    margin: 0;
}
#header{
    background-color: #4c1569;
    color: #fff;
    padding: 20px 0;
}
.container{
    margin: 0 auto;
    width: 1000px;
}
#nav{
    list-style-type: none;
	margin: 0px;
    padding: 0px;
    float: right;
}

#nav li{
    display: inline-block;
    margin-left: 15px;
}

#nav li a{
    text-decoration: none;
    color: #fff;
}

#nav li a:hover{
    text-decoration: underline;
    color: gold;
}

#nav li a:visited{
    text-decoration: none;
    color: #fff;
}

#lakers{
    float: left;
    margin-right: 20px;
}
span{
}

p{
    font-size: 20px;
}