body{
    background-color: #efaf2b;
    /*background-color: red;*/
    /* Remove Gap Above Heaader*/
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#header{
    background-color: #4c1569;
    /*background-color: black;*/
    color: #fff;
    padding: 20px 0;
    border-bottom:3px solid white;
    font-family: initial;
    position: relative;
}
.container{
    margin: 0 auto;
    width: 900px;
}

#title{
    font-size: 30px;
}

#nav{
    list-style-type: none;
	margin: 0px;
    padding: 0px;
    float: right;
}

#nav li{
    display: inline-block;
    margin-left: 15px;
}

#nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    position: relative;
    top:5px;

}

#nav li a:hover{
    text-decoration: underline;
    color: gold;
}

#nav li a:visited{
    text-decoration: none;
}

#bio{
    margin-top: 20px;
}

#early{
    margin-top: 50px;
}

#death{
    margin-top: 50px;
}

#careerLink{
    color: #000;
}

#careerLink:hover{
    color: #fff;
}
#careerLink:visited{
    color: #000;
}

h1{
    margin: 10px 0;
    text-decoration: underline;
}

table{
    
}
table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
}
th,td{
    padding: 5px;
}
td{
    text-align: center;
}

/*
Picture Styling
*/
#titleImg{
    float: left;
    margin-right: 10px;
    padding: -10px 0;
}

#profile{
    float: left;
    width: 250px;
    padding: 0;
    margin-right:20px;
    margin-top: 10px;
}

#youngKobe{
    float: right;
    width: 250px;
    padding: 0;
    margin-left: 20px;
    margin-top: 10px;
}

#crash{
    margin: 25px 0;
    margin-left: 50px;
    width: 800px;
    padding: 0;
}


div{
    font-size: 20px;
}
